:root {
  font-family: Teko;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: inherit;
}
a:hover {
  color: rgba(224, 223, 223, 0.839);
}

body {
  margin: 0;
  display: flex;
  place-items:top;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  padding:0px;
  margin:0px;
  line-height: .9;
  width:50%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
input{
  font-family:inherit;
  font-size:20px;
}
select{
  padding-top: 1px;
  margin-left: 5px;
  font-family:inherit;
  font-size:20px;
}
table{
  background-color: transparent;
  border-spacing: 0;
  min-width: 100vw;
 
}
.tabledark{
  background-color: transparent;
  border-spacing: 0;
  min-width: 100vw;
  border:1px solid #242424;
 
}
.tablelight{
  background-color: transparent;
  border-spacing: 0;
  min-width: 100vw;
  border:1px solid rgba(255, 255, 255, 0.87);
}

tr{
  border:1px solid #242424;
  /* border:1px solid rgba(255, 255, 255, 0.87); */
}
td {
  font-size: 23px;
  line-height: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border:1px solid #242424;
  color: #242424;
}
.tddark {
  font-size: 23px;
  line-height: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border:1px solid #242424;
  color: #242424;
}
.tdlight {
  font-size: 23px;
  line-height: 1;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border:1px solid rgba(255, 255, 255, 0.87);
  color: rgba(255, 255, 255, 0.87);
}


button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: right;
  padding-right:5px;
  background-color: #000000;
}
li{
  padding-left:10px;
  padding-right:10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@font-face {
  font-family: Teko;
  src: url('../public/Teko-Regular.ttf')
}